@model ResumeViewModel
@{
    ViewData["Title"] = "Index";
}

<!--
				Card - Resume
			-->
			<div class="card-inner animated active" id="resume-card">
				<div class="card-wrap">

					<!--
						Resume
					-->
					<div class="content resume">

						<!-- title -->
						<div class="title">Resume</div>

						<!-- content -->
						<div class="row">

							<!-- experience -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="resume-title border-line-h">
									<div class="icon"><i class="fa fa-briefcase"></i></div>
									<div class="name">Experience</div>
								</div>
								<div class="resume-items">
									@foreach (var item in Model.Experience)
								   {
									   <div class="resume-item border-line-h @((Model.Experience.Max(b=>b.Id)==item.Id)?"active":"") " >
										<div class="date">@item.ExperienceStart - @item.ExperienceEnd</div>
										<div class="name">@item.Job</div>
										<div class="company">@item.Where</div>
										<p>
											@item.Title
										</p>
									</div>
								   }
								</div>
							</div>

							<!-- education -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="resume-title border-line-h">
									<div class="icon"><i class="fa fa-university"></i></div>
									<div class="name">Education</div>
								</div>
								<div class="resume-items">
									@foreach (var item in Model.Education)
								   {
									   <div class="resume-item border-line-h active">
										<div class="date">@item.ExperienceStart - @item.ExperienceEnd</div>
										<div class="name">@item.Job</div>
										<div class="company">@item.Where</div>
										<p>
											@item.Title
										</p>
									</div>
								   }
								</div>
							</div>

							<div class="clear"></div>
						</div>

					</div>

					<!--
						Skills
					-->
					<div class="content skills">

						<!-- title -->
						<div class="title">My Skills</div>
					
						<!-- content -->
						<div class="row">
						
							<!-- skill item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="skills-list">
									<div class="skill-title border-line-h">
										<div class="icon"><i class="fa fa-paint-brush"></i></div>
										<div class="name">Design</div>
									</div>
									<ul>
										@foreach (var item in Model.Design)
									   {
										   <li class="border-line-h"> 
											<div class="name">@item.Name</div>
											<div class="progress">
												<div class="percentage" style="width:@item.Percent%;"></div>
											</div>
										</li>
									   }
									</ul>
								</div>
							</div>

							<!-- skill item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="skills-list dotted">
									<div class="skill-title border-line-h">
										<div class="icon"><i class="fa fa-flag"></i></div>
										<div class="name">Languages</div>
									</div>
									<ul>
										@foreach (var item in Model.Languages)
									   {
										   <li class="border-line-h"> 
											<div class="name">@item.Name</div>
											<div class="progress">
												<div class="percentage" style="width:@item.Percent%;"></div>
											</div>
										</li>
									   }
									</ul>
								</div>
							</div>

							<!-- skill item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="skills-list">
									<div class="skill-title border-line-h">
										<div class="icon"><i class="fa fa-code"></i></div>
										<div class="name">Coding</div>
									</div>
									<ul>
										@foreach (var item in Model.Coding)
									   {
										   <li> 
											<div class="name">@item.Name</div>
											<div class="progress">
												<div class="percentage" style="width:@item.Percent%;"></div>
											</div>
										</li>
									   }
									</ul>
								</div>
							</div>

							<!-- skill item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="skills-list list">
									<div class="skill-title border-line-h">
										<div class="icon"><i class="fa fa-list"></i></div>
										<div class="name">Knowledge</div>
									</div>
									<ul>
										@foreach (var item in Model.Knowledge)
									   {
										   <li> 
											<div class="name">@item.Name</div>
											</li>
									   }
									</ul>
								</div>
							</div>
							
							<div class="clear"></div>
						</div>
						
					</div>

					<!--
						Testimonials
					-->
					<div class="content testimonials">

						<!-- title -->
						<div class="title">Testimonials</div>

						<!-- content -->
						<div class="row testimonials-items">

							<!-- client item -->
							<div class="col col-d-12 col-t-12 col-m-12 border-line-v">
								<div class="revs-carousel default-revs">
									<div class="owl-carousel">
										@foreach (var item in Model.Testimonials)
									   {
										   <div class="item">
											<div class="revs-item">
												<div class="text">
													@item.Title
												</div>
												<div class="user">
													<div class="img"><img src="~/images/@item.ImagePath" alt="" /></div>
													<div class="info">
														<div class="name">@item.FullName</div>
														<div class="company">@item.Job</div>
													</div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									   }
									</div>
								</div>
							</div>

							<div class="clear"></div>
						</div>

					</div>

				</div>
			</div>
