@model List<MyServices>
@{
    ViewData["Title"] = "Index";
}
<div class="table-responsive">
            <table class="table mg-b-0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Head</th>
                  <th>Title</th>
                  <th>Created Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                @foreach (var item in Model)
               {
                       <tr>
                          <th scope="row">@item.Id</th>
                          <td>@item.Head</td>
                          <td>@item.Title</td>
                          <td>@item.CreatedDate</td>
                          <td><a asp-route-id="@item.Id"  asp-action="Detail" class="btn btn-az-primary btn-block">Detail</a></td>
                       </tr>
               }
              </tbody>
            </table>
</div>