@model AboutViewModel
@{
    ViewData["Title"] = "Index";
}
<!-- 
				Card - About
			-->

<div class="card-inner animated active" id="about-card">
				<div class="card-wrap">

					<!-- 
						About 
					-->
					<div class="content about">

						<!-- title -->
						<div class="title">About Me</div>

						<!-- content -->
						<div class="row">
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="text-box">
									<p>
										I am Ryan Adlard, web designer from USA, California. I have rich experience in 
										web site design and building and customization, also I am good at wordpress. 
										I love to talk with you about our unique.
									</p>
								</div>
							</div>
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="info-list">
									<ul>
										<li><strong>Age . . . . .</strong>@Model.AboutMe.Age</li>
										<li><strong>Residence . . . . .</strong>@Model.AboutMe.Residence</li>
										<li><strong>Freelance . . . . .</strong>@Model.AboutMe.Freelance</li>
										<li><strong>Address . . . . .</strong>@Model.AboutMe.Address</li>
									</ul>
								</div>
							</div>
							<div class="clear"></div>
						</div>

					</div>

					<!--
						Services
					-->
					<div class="content services">

						<!-- title -->
						<div class="title">My Services</div>

						<!-- content -->
						<div class="row service-items border-line-v">
							<!-- service item -->
							@foreach (var item in Model.MyServices)
						   {
							   <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
								<div class="service-item">
									<div class="icon">
										<span class="fa fa-code"></span>
									</div>
									<div class="name">
										<span >
										@item.Head								</span>
									</div>
									<div class="desc">
										<div >
											<p>@item.Title</p>
										</div>
									</div>
								</div>
							</div>
						   }
						</div>
						<div class="clear"></div>

					</div>

					<!--
						Price Tables
					-->
					<div class="content pricing">

						<!-- title -->
						<div class="title">Pricing</div>

						<!-- content -->
						<div class="row pricing-items">

							<!-- pricing item -->
							@foreach (var item in Model.Pricing)
						   {
							   <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="pricing-item">
									<div class="icon"><i class="fa fa-battery-half"></i></div>
									<div class="name">@item.Head</div>
									<div class="amount">
										<span class="dollar">$</span>
										<span class="number">@item.Price</span>
										<span class="period">hour</span>
									</div>
									<div class="feature-list">
										<ul>
											@foreach (var adv in Model.PricingAdvantages)
											{
												<li>@adv.Title</li>
											}


											@*<li class="disable">Photography <strong>new</strong></li>*@
											@*<li class="disable">Photography </li>*@
										</ul>
									</div>
									<div class="lnks">
										<a href="#" class="lnk">
											<span class="text">Buy @item.Head</span>
										</a>
									</div>
								</div>
							</div>
						   }

							<div class="clear"></div>
						</div>

					</div>

					<!--
						Fun Fact
					-->
					<div class="content fuct">

						<!-- title -->
						<div class="title">Fun Fact</div>

						<!-- content -->
						<div class="row fuct-items">

							<!-- fuct item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="fuct-item">
									<div class="icon"><span class="fa fa-music"></span></div>
									<div class="name">80 Albumes Listened</div>
								</div>
							</div>

							<!-- fuct item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="fuct-item">
									<div class="icon"><span class="fa fa-trophy"></span></div>
									<div class="name">15 Awards Won</div>
								</div>
							</div>

							<!-- fuct item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="fuct-item">
									<div class="icon"><span class="fa fa-coffee"></span></div>
									<div class="name">1 000 Cups of coffee</div>
								</div>
							</div>

							<!-- fuct item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="fuct-item">
									<div class="icon"><span class="fa fa-flag"></span></div>
									<div class="name">10 Countries Visited</div>
								</div>
							</div>

							<div class="clear"></div>
						</div>

					</div>

					<!--
						Clients
					-->
					<div class="content clients">

						<!-- title -->
						<div class="title">Clients</div>

						<!-- content -->
						<div class="row client-items">

							<!-- client item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="client-item">
									<div class="image">
										<a target="_blank" href="https://www.google.com/">
											<img src="~/images/clients/client_1.png" alt="" />
										</a>
									</div>
								</div>
							</div>

							<!-- client item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="client-item">
									<div class="image">
										<a target="_blank" href="https://www.google.com/">
											<img src="~/images/clients/client_2.png" alt="" />
										</a>
									</div>
								</div>
							</div>

							<!-- client item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="client-item">
									<div class="image">
										<a target="_blank" href="https://www.google.com/">
											<img src="~/images/clients/client_3.png" alt="" />
										</a>
									</div>
								</div>
							</div>

							<!-- client item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="client-item">
									<div class="image">
										<a target="_blank" href="https://www.google.com/">
											<img src="~/images/clients/client_4.png" alt="" />
										</a>
									</div>
								</div>
							</div>

							<div class="clear"></div>
						</div>

					</div>

					<!-- Quote -->
					<div class="content quote">

						<!-- title -->
						<div class="title">
							<span >Quote</span>
						</div>

						<!-- content -->
						<div class="row">
							<div class="col col-d-12 col-t-12 col-m-12 border-line-v">
								<div class="revs-item">
									<div class="text">
										<div >
											@*@Model.Quote.Title*@
										</div>
									</div>
									<div class="user">
										<div class="img">
											<img src="~/images/profile.png" alt="Ryan Adlard" />
										</div>
										<div class="info">
											@*<div class="name">@Model.Quote.FullName</div>*@
											@*<div class="company">@Model.Quote.Job</div>*@
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>

					</div>

				</div>
			</div>